body {
    text-align: center;
    margin: 0;
    background-color: #deddc8;
}

header {
    background-color: black;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    cursor: crosshair;
    border: 1px solid white;
}

.bolaMerah, .bolaKuning, .bolaHijau {
    height: 80px;
    width: 80px;
    margin: 20px;
    border-radius: 100%;
}

.container {
    width: 70%;
    padding: 10px 20px 20px;
    margin: 0px auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
}

header:active {
    filter: brightness(500%);
}